extends layout

block content

    h1="MTG WebSearch"

    div
        table#cardtable.table-bordered
            thead
                tr
                    th Name
                    th Artist
                    th Text
            tbody
                for item in result
                    tr
                        td= item.cards_name
                        td= item.cards_artist
                        td= item.cards_text

